<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScriptMgerger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
  </appSettings>
  <userSettings>
    <ScriptMgerger.Properties.Settings>
      <setting name="BufferSize" serializeAs="String">
        <value>512000</value>
      </setting>
      <setting name="ScriptSeparator" serializeAs="String">
        <value>GO</value>
      </setting>
      <setting name="CommentStart" serializeAs="String">
        <value>//</value>
      </setting>
      <setting name="RootScriptFolder" serializeAs="String">
        <value>Scripts</value>
      </setting>
      <setting name="LastUsedPaths" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
    </ScriptMgerger.Properties.Settings>
  </userSettings>
</configuration>