<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="LastPath" value="C:\Users\omarw\github\AvoJAL_BaseDatos\Scripts\Liberaciones\Version002\PROY1_Generales.txt"/>
  </appSettings>
</configuration>